/* This does some stuff */
#about {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 4fr 1fr;

  height: 80%;
  width: 70%;
  max-height: 90%;

  padding: 3%;

  border: 2px solid rgba(42, 161, 197, 0.384);
  border-radius: 1.2rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.822),
    0 0 33px rgba(93, 117, 131, 0.644);
}

/* So does this */

#about main,
#about aside,
#about footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

aside,
main {
  height: 95%;
  grid-row: 1/4;
}

aside{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.575),
    0 0 12px rgba(50, 58, 63, 0.37);
}

aside p {
  color: rgba(212, 212, 212, 0.712);
  text-decoration: overline;
}

footer {
  grid-column: 1/4;
}

footer nav {
  width: 100%;
  padding: 0.5rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

ol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 100%;

  list-style: outside;
}

ol li {
  width: 8rem;
  padding: 0.3rem;

  font-size: 0.9rem;
}

footer p {
  color: grey;
}

/* You're getting the idea */

#profile-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 95%;
  height: 100%;

  box-shadow: 0 0 10px rgba(255, 255, 255, 0.575),
    0 0 12px rgba(50, 58, 63, 0.37);

    animation:Scan 4s ease-out alternate infinite;
}

#text-box {
  grid-column: 1/3;

  display: flex;
  flex-direction: column;

  height: 100%;
}

img {
  padding: 0 50px;
  font-size: 1rem;
}

#profile-card p {
  height: 100%;
  color: rgb(149, 149, 149);
}

h1 {
  font-size: 2.5rem;
  width: 100%;
  padding: 0 50px;
  text-align: center;
}

h2{
  font-size: 1.2rem;
  color: rgb(180, 180, 180);
  text-align: center;
  margin: 20px;
}

h3{
  font-size: 0.9rem;
  color: rgb(97, 93, 93);
  margin: 15px;
}

@keyframes Scan{
  100%{
    background-color: rgba(106, 167, 190, 0.096);
  }
}
